<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords"
    content="​Full Service Barber Shop, Our Services, Our Pricing, ​Best Haircut and Shave in New York, ​Are you ready for the smoothest shave you’ll ever get?, ​Free consultation, Testimonials, ​​Men&amp;apos;s Haircut, Beard Trim, ​Full service barber shop &amp;amp; men’s grooming studio, Contact Us">
  <meta name="description" content="">
  <title>Home</title>
  <link rel="stylesheet" href="./static/stylesheet/nicepage.css" media="screen">
  <link rel="stylesheet" href="./static/stylesheet/home.css" media="screen">
  <script class="u-script" type="text/javascript" src="./static/js/jquery.js" "="" defer=""></script>
    <script class=" u-script" type="text/javascript" src="./static/js/nicepage.js" "="" defer=""></script>
    <meta name=" generator" content="Nicepage 4.16.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
      
    
    
    <script type="application/ld+json">{
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": ""
  }</script>
      <meta name="theme-color" content="#0149b8">
      <meta property="og:title" content="Home">
      <meta property="og:type" content="website">
    </head>
    <body class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-header" id="sec-1607"><div class="u-clearfix u-sheet u-sheet-1">
          <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" data-responsive-from="XL">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
              <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
  </g></svg>
              </a>
            </div>
            <div class="u-custom-menu u-nav-container">
              <ul class="u-nav u-spacing-20 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-active-palette-4-base u-border-hover-palette-4-base u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="Home.html" style="padding: 10px;">Home</a>
  </li><li class="u-nav-item"><a class="u-border-active-palette-4-base u-border-hover-palette-4-base u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="/visualizations" style="padding: 10px;">Visualizations</a>
  </li><li class="u-nav-item"><a class="u-border-active-palette-4-base u-border-hover-palette-4-base u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" style="padding: 10px;">Machine Learning Models</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10"><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="/linearregression">Linear Regression</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="/logisticregression">Logistic Regression</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="/knn">KNN</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="/adaboost">AdaBoost Classifier</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="/randomforest">Random Forest</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="/extratrees">Extra Trees</a>
  </li></ul>
  </div>
  </li></ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
              <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-inner-container-layout u-sidenav-overflow">
                  <div class="u-menu-close"></div>
                  <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html">Home</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/visualizations">Visualizations</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link">Machine Learning Models</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/linearregression">Linear Regression</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/logisticregression">Logistic Regression</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/knn">KNN</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/adaboost">AdaBoost Classifier</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/randomforest">Random Forest</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/extratrees">Extra Trees</a>
  </li></ul>
  </div>
  </li></ul>
                </div>
              </div>
              <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
          </nav>
        </div></header> 



      <section class="u-align-right u-clearfix u-image u-shading u-section-1" id="sec-ba97" data-image-width="1640" data-image-height="924">
        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-align-left u-border-20 u-border-palette-4-base u-container-style u-group u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-valign-bottom u-container-layout-1">
              <h1 class="u-align-center u-text u-text-body-color u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Patient Survival Prediction</h1>
              <p class="u-align-center u-text u-text-body-color u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Examining the likelihood of patient survival using Supervised Machine Learning.</p>
              <a href="/index" class="u-active-palette-1-light-3 u-border-2 u-border-white u-btn u-button-style u-hover-palette-1-light-3 u-text-active-black u-text-hover-black u-white u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Start Predicting</a>
            </div>
          </div>
        </div>
      </section>
      <section class="u-clearfix u-palette-4-base u-section-2" id="carousel_9296">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
          <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
              <div class="u-layout-row">
                <div class="u-align-left u-container-style u-layout-cell u-size-25-md u-size-25-sm u-size-25-xs u-size-30-lg u-size-30-xl u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">
                  <div class="u-container-layout u-valign-top u-container-layout-1">
                    <h2 class="u-text u-text-body-alt-color u-text-1"> The Data</h2>
                  </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-shape-rectangle u-size-30-lg u-size-30-xl u-size-35-md u-size-35-sm u-size-35-xs u-layout-cell-2">
                  <div class="u-container-layout u-valign-top u-container-layout-2">
                    <p class="u-text u-text-body-alt-color u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">
                      <span style="font-size: 1.5rem;">Data set sou​rced from MIT's GOSSIS (Global Open Source Severity of Illness Score) initiative via Kaggle.com</span>
                      <br>
                      <br>
                      <span style="font-size: 1.5rem;"> Once cleaned, the data set includes 80 columns with 56<span style="font-weight: 400;"></span>,935 rows.
                      </span>
                      <br>
                      <br>
                    </p>
                    <a href="/visualizations" class="u-active-palette-4-base u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-button-style u-hover-palette-4-base u-text-active-white u-text-body-color u-text-hover-white u-white u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"> Visualizations<span style="font-weight: 700;"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="u-align-center u-clearfix u-image u-shading u-section-3" id="sec-01c9" data-image-width="1640" data-image-height="924">
        <div class="u-clearfix u-sheet u-sheet-1">
          <h2 class="u-text u-text-body-alt-color u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Machine Learning Models</h2>
          <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
              <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="250">
                <div class="u-container-layout u-similar-container u-container-layout-1">
                  <h4 class="u-text u-text-default u-text-2">
                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href="/linearregression"> Linear Regression</a>
                  </h4>
                </div>
              </div>
              <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="250">
                <div class="u-container-layout u-similar-container u-container-layout-2">
                  <h4 class="u-text u-text-default u-text-3">
                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2" href="/logisticregression"> Logistic Regression</a>
                  </h4>
                </div>
              </div>
              <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="250">
                <div class="u-container-layout u-similar-container u-container-layout-3">
                  <h4 class="u-text u-text-default u-text-4">
                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3" href="/knn"> K Nearest Neighbors</a>
                  </h4>
                </div>
              </div>
              <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="250">
                <div class="u-container-layout u-similar-container u-container-layout-4">
                  <h4 class="u-text u-text-default u-text-5">
                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4" href="/randomforest"> Random Forest Classifier</a>
                  </h4>
                </div>
              </div>
              <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-5" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="250" data-href="adaboost.html">
                <div class="u-container-layout u-similar-container u-container-layout-5">
                  <h4 class="u-text u-text-default u-text-6">
                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-5" href="/adaboost"> AdaBoost Classifier&nbsp;</a>
                  </h4>
                </div>
              </div>
              <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-6" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="250">
                <div class="u-container-layout u-similar-container u-container-layout-6">
                  <h4 class="u-text u-text-default u-text-7">
                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-6" href="/extratrees"> Extra Trees Classifier</a>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="u-clearfix u-white u-section-4" id="carousel_0b26">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
          <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
              <div class="u-layout-row">
                <div class="u-align-left u-container-style u-layout-cell u-size-25-md u-size-25-sm u-size-25-xs u-size-30-lg u-size-30-xl u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">
                  <div class="u-container-layout u-valign-top u-container-layout-1">
                    <p class="u-text u-text-palette-4-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">
                      <span style="font-size: 1.5rem; font-weight: 700;">Medical professionals may use this model to assist with clinical decision making and early detection of key factors that may impact a patient's chance of survival.&nbsp;</span>
                      <br>
                      <br>
                      <br>
                      <span style="font-size: 1.5rem;">
                        <span style="font-weight: 700;"> Family members may also use this model to assist with decison making surrounding end of life care.&nbsp;</span>
                      </span>
                      <br>
                    </p>
                  </div>
                </div>
                <div class="u-align-right u-container-style u-layout-cell u-shape-rectangle u-size-30-lg u-size-30-xl u-size-35-md u-size-35-sm u-size-35-xs u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1000">
                  <div class="u-container-layout u-container-layout-2">
                    <h2 class="u-text u-text-palette-4-base u-text-2"> Real World Applications</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-23e0"><div class="u-clearfix u-sheet u-sheet-1">
          <p class="u-small-text u-text u-text-variant u-text-1">Lindsey Morales<br>Atika Hemani<br>Isaac Rosenthal<br>Vishaal Gupta<br>Jessie Wan
          </p>
        </div></footer>
    
  </body></html>