<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Linechart.js</title>
 
 
</head>

<body>

    <div>
        <canvas id="myChart"></canvas>
        <select id="selDataset" onchange="optionChanged(this.value)"></select>
        
      </div> 
      <script src="https://d3js.org/d3.v5.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <!-- <script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script> -->
  

<script src="static/js/plots.js"></script> 
  

</body>

</html>
