<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Dropdowns within a Navbar</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script class="u-script" type="text/javascript" src="/static/js/model.js" defer=""></script>
</head>

<body>
  <div class="m-4">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container-fluid">
        <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/Flask App/templates/Home.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Visualizations</a>
              <div class="dropdown-menu dropdown-menu-end">
                <a href="#" class="dropdown-item">Static</a>
                <a href="#" class="dropdown-item">Dynamic</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-md-offset-4">
          <h3>Patient Information Form</h3>
          <div>
            <form action="/send" method="POST">
              <div class="row mb-3">
                <label for="icu" class="col-sm-2 col-form-label">ICU Death Probability</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="icu" name="icu" data-toggle="tooltip"
                    data-placement="top" title="Enter values between -1.0 and 9.7" min="-1.0" max="9.7" step="0.1"
                    style="width: 100px;" required>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Ventilation &nbsp;&nbsp;&nbsp;</label>
                <div class="col-sm-10">
                  <label for="yes">Yes</label>
                  <input type="radio" id="yes" name="ventilation" value="0">
                  <label for="female">No</label>
                  <input type="radio" id="no" name="ventilation" value="1" checked>
                </div>
              </div>
              <div class="row mb-3">
                <label for="gscVerbal" class="col-sm-2 col-form-label">Glasgow Coma Scale (GCS) Verbal Score</label>
                <div class="col-sm-10">
                  <select id="gscVerbal" name="gscVerbal" required>
                    <option value="empty"></option>
                    <option value="1.0">1.0</option>
                    <option value="2.0">2.0</option>
                    <option value="3.0">3.0</option>
                    <option value="4.0">4.0</option>
                    <option value="5.0">5.0</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label for="gscEyes" class="col-sm-2 col-form-label">GCS Eyes Score</label>
                <div class="col-sm-10">
                  <select id="gscEyes" name="gscEyes" required>
                    <option value="empty"></option>
                    <option value="1.0">1.0</option>
                    <option value="2.0">2.0</option>
                    <option value="3.0">3.0</option>
                    <option value="4.0">4.0</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label for="hospital" class="col-sm-2 col-form-label">Hospital Death Probability</label>
                <div class="col-sm-10">
                  <input type="number" id="hospital" name="hospital" data-toggle="tooltip" data-placement="top"
                    title="Enter values between -1.0 and 9.8" min="-1.0" max="9.8" step="0.1" style="width: 100px;"
                    required>
                </div>
              </div>
              <div class="row mb-3">
                <label for="gscMotor" class="col-sm-2 col-form-label">GCS Motor Score</label>
                <div class="col-sm-10">
                  <select id="gscMotor" name="gscMotor" required>
                    <option value="empty"></option>
                    <option value="1.0">1.0</option>
                    <option value="2.0">2.0</option>
                    <option value="3.0">3.0</option>
                    <option value="4.0">4.0</option>
                    <option value="5.0">5.0</option>
                    <option value="6.0">6.0</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label for="bpNon" class="col-sm-2 col-form-label">Day 1 Minimum Systolic Blood Pressure, Noninvasive
                </label>
                <div class="col-sm-10">
                  <input type="number" id="bpNon" name="bpNon" data-toggle="tooltip" data-placement="top"
                    title="Enter values between 41.03 and 160.0" min="41.03" max="160.0" step="0.01"
                    style="width: 100px;" required>
                </div>
              </div>
              <div class="row mb-3">
                <label for="bp" class="col-sm-2 col-form-label">Day 1 Minimum Systolic Blood Pressure </label>
                <div class="col-sm-10">
                  <input type="number" id="bp" name="bp" data-toggle="tooltip" data-placement="top"
                    title="Enter values between 41.0 and 160.0" min="41.0" max="160.0" step="0.1" style="width: 100px;"
                    required>
                </div>
              </div>
              <div class="row mb-3">
                <label for="age" class="col-sm-2 col-form-label">Age</label>
                <div class="col-sm-10">
                  <input type="number" id="age" name="age" data-toggle="tooltip" data-placement="top"
                    title="Enter values between 16 and 89" min="16" max="89" step="1" style="width: 100px;" required>
                </div>
              </div>
              <div class="row mb-3">
                <label for="minBP" class="col-sm-2 col-form-label">Minimum Mean Blood Pressure</label>
                <div class="col-sm-10">
                  <input type="number" id="minBP" name="minBP" data-toggle="tooltip" data-placement="top"
                    title="Enter values between 22.0 and 112.0" min="22.0" max="112.0" step="0.1" style="width: 100px;"
                    required>
                </div>
              </div>
              <input type="submit" value="Submit">
              <p>{{result}}</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
    $('input[type=radio][id=no]').on('change', function () {
      if ($(this).prop("checked") == true) {
        $(this).val(1);
        $("#yes").val(0);
        console.log("No: " + $(this).val());
        console.log("Yes: " + $("#yes").val());
      }
    });
    $('input[type=radio][id=yes]').on('change', function () {
      if ($(this).prop("checked") == true) {
        $(this).val(1);
        $("#no").val(0);
        console.log("Yes: " + $(this).val());
        console.log("No: " + $("#no").val());
      }
    });
  </script>
</body>

<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-12 mt-md-0 mt-3">
        <p>Lindsey Morales, Vishaal Gupta, Atika
          Hemani,&nbsp;<br>Isaac Rosenthal, &amp; Jessie Wan<br></p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <div class="col-md-3 mb-md-0 mb-3">
        </div>
      </div>
    </div>

</footer>

<!-- <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-b38c">
  <div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">Lindsey Morales, Vishaal Gupta, Atika
      Hemani,&nbsp;<br>Isaac Rosenthal, &amp; Jessie Wan<br>
    </p>
  </div>
</footer> -->



</html>